*{
    margin: 0px;
}
#headm{
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    position: sticky;
    top: 0%;
}
h2{
    text-align: center;
    color: rgb(19, 19, 19);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.head{
    width: 90%;
    height:auto;
    
}
#but{
    width: 10%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.btn{
    background-color: teal;
    color: aliceblue;
    font-size: 1.3rem;
    padding: 8px;
    border-radius: 7px;
 }

span{
    font-weight: 800;
}
main{
    width: 100%;
    height: calc(100vh - 5.0rem);
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-color: lightgrey;
}

#head_of{
    font-size: 1.7rem;
}
#btn1{
    background-color: teal;
    color: aliceblue;
    font-size: 1.3rem;
    padding: 8px;
    border-radius: 7px;
}

#part{
    width: 100vh; 
    height: calc(100vh - 7.5rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
}

#centre{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#centre1{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}