*{
    margin:0%
}
h2{
    text-align: center;
    color: rgb(19, 19, 19);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.second_heading{
    text-align: center;
    padding-bottom:0.5rem;
}
#headm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    position: sticky;
    top: 0%;
}
.head{
    width: 90%;
    height:auto;
    
}
#but{
    width: 10%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
*{
    margin: 0;
    padding: 0;
}

body{
    background: url("c2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1,h2{    
    text-align:center;
}
h1{
    margin-top:0px;
}
#form{
    position:relative;
    top:60px;
    background-color:lightgrey;
    height:auto;
    max-width:500px;
    border:1px solid black;
    margin:auto;
    overflow:auto;

}
.data{
    padding-left:20px;
    font-size: 1.5rem;
}

#home i{
    font-size:60px;
    top:200px;
    left:100px;
    color:rgb(19, 17, 17);
}
#home i:hover{
 
    color:rgb(84, 100, 111);

}

div#submit{
    max-width:100px;
    margin:auto;
}
input[type="submit"]:hover{
background-color:rgb(130, 230, 135);
  } 
  

#next{
color:black;
text-decoration:none !important;
font-weight:bold;
margin-bottom: 1rem;
}

#next:hover{
color:rgb(147, 215, 231);
}
form{
    padding: 1.5rem;
}
#form{
    background-color: rgba(255, 255, 255, 0.872);
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 0px 0px 6px 4px rgba(76, 13, 13, 0.6);
}

label{
    display: block;
    font-weight: 600;
}
#fill{
    font-size: 1.5rem;
    margin: 1rem;
}
input{
    width: 60vh;
    font-size: 1.5rem;
    padding: 0.3rem;
    border-radius: 10px;
}
#form>p{
    background-color: teal;
    border-radius: 0.8rem 0.8rem 0rem 0rem;
    padding: 1rem;
    font-size: 1.9rem;
    text-align: center;
    color: aliceblue;
    font-weight: 600;
}

.btn{
    background-color: teal;
    color: aliceblue;
    font-size: 1.3rem;
    padding: 8px;
    border-radius: 7px;
}

#f1{
    background-color: teal;
    padding-top: 1rem;
}